@import '../../../shared/styles/colors';
.header-container{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .app-name{
        display:flex;
        margin-left:7rem;
        color: $main-brand-color;
        .logo{
            height: 4rem;
            width: 3rem;
            margin-right: 1rem;
        }
    }

    .user-name{
        margin-top:2rem;
        margin-right:11rem;
    }
}