@import '../../../shared/styles/colors';
.header-container{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .app-name{
        margin-left:7rem;
        color: $main-brand-color;
    }

    .user-name{
        margin-top:2rem;
        margin-right:11rem;
    }
}